* {
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    background: #F9F8F6;
}
.homehead {
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #03A6A1;
    padding: 40px;
}
.homehead>h1{
    background: none;
    color:black;
}
.homehead>h2{
    background: none;
    color: black;
}
.homehead>a>button{
    height: 40px;
    width: 120px;
    border-radius: 10px;
    /* border-color:white; */
    /* background-color:#03A6A1; */
    text-align: center;
    text-decoration: none;
    display: inline-block; 
}

.button{
    /* display: inline-block;     
    height: 40px;
    width:120px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid white;    
    background-color: #03A6A1;
    text-align: center;
    line-height: 40px;          
    color: white;              
    text-decoration: none;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;  */



    height: 40px;
    width: 120px;
    border-radius: 10px;
    border-color:white;
    background-color:#03A6A1;
    text-align: center;
    cursor: pointer;
}
.dropdown{
    height: 40px;
    width: 120px;
    border-radius: 10px;
    border-color:white;
    background-color:#03A6A1;
    text-align: center;
}
.MCC{
    display: flex;
    padding: 20px;
    justify-content: space-around;

}
table {
    width: 700px;
    border-collapse: collapse;

}

th, td {
    border: 1px solid #333;
    padding: 30px;
    text-align: center;
}

th {
    background-color: green;
    font-weight: bolder;
}

/* 2 */

.MCCSUB{
    display: flex;
    justify-content: space-between;
}
.MCC1-1{
    display: flex;
    justify-content:space-between;
    width: 46.4%;
    /* background-color: red; */
    padding-left: 38px;
}
.table2{
    width: 100px;
    /* background-color: black; */
}
.table2-2{
    width: 100px;
    /* background-color: black; */
}
.MCC2-2{
    display: flex;
    justify-content:space-between;
    width: 46.4%;
    /* background-color: red; */
    padding-right: 38px;
}
.table2{
    width: 100px;
    /* background-color: black; */
}
.table2-2{
    width: 100px;
    /* background-color: black; */
}
/*  */

.MCCSUB-1{
    display: flex;
    justify-content: space-between;
}
.MCC3-3{
    display: flex;
    justify-content:space-between;
    width: 46.4%;
    /* background-color: red; */
    padding-left: 38px;
    padding-top: 20px;
}
.table3{
    width: 48.5%;
    /* background-color: black; */
}
.table3-3{
    width: 48.5%;
    /* background-color: black; */
}

.MCC4-4{
    display: flex;
    justify-content:space-between;
    width: 46.4%;
    /* background-color: red; */
    padding-right: 38px;
    padding-top: 20px;
}
.table4{
    width: 48.5%;
    /* background-color: black; */
}
.table4-4{
    width: 48.5%;
    /* background-color: black; */
}
